name: Lint and Validate Terraform Code

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  lint-validate:
    name: Lint & Validate
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Check
        run: |
          terraform fmt -check -recursive -diff
          terraform init -backend=false
          terraform validate

      - name: Install TFLint
        uses: terraform-linters/setup-tflint@v6

      - name: Run TFLint
        run: |
          tflint --init
          tflint --recursive

      - name: Run tfsec
        uses: aquasecurity/tfsec-action@v1.0.3
        with:
          additional_args: '--soft-fail'
